@inject IViewLocalizer Localizer

@model SignInViewModel

@{ ViewData["Title"] = Localizer["SignIn"]; }

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">@Localizer["SignIn"]</button>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <a asp-controller="Account" asp-action="ForgotPassword">@Localizer["ForgotPassword"]</a>
                </div>
                <div class="form-group">
                    <a asp-controller="Account" asp-action="Register">@Localizer["NoAccount"]</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}